.homeRightBottom__container1 {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}
.homeRightBottom {
  display: flex;
  justify-content: space-between;
}
.homeRightBottom__button {
  background-color: #3bc4d4;
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  font-size: 13px;
  cursor: pointer;
}
.homeRightBottom__container2 {
  margin-right: 15px;
  margin-top: 20px;
}
