.homeChart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 370px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 10px;
}
.homeChartFull {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 410px;
  width: 97%;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 10px;
}
#dark .homeChart {
  background-color: #2d383c;
  border: none;
}
#dark .homeChartFull {
  background-color: #2d383c;
  border: none;
}
