.homeRight {
  flex: 0.3;
  background-color: white;
  margin-right: 30px;
  height: 85vh;
  margin-top: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.homeRight__container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(127, 127, 127);
}
.homeRight__container2 {
  margin-bottom: 160px;
}
