.homeSub {
  height: 100px;
  width: 240px;
  background-color: white;
  padding: 5px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.homeSub__container1 {
  display: flex;
  justify-content: space-between;
}
.homeSub__container2 {
  padding-left: 15px;
}
