.homeLeft {
  flex: 0.2;
  background-color: white;
  margin-left: 30px;
  height: 85vh;
  margin-top: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
}
#dark .homeLeft {
  background-color: #2d383c;
  border: none;
}
#dark .homeLeft__userProfile {
  color: white;
  border: none;
}
#dark .userProfile__name {
  color: white;
  border: none;
}
.homeLeft__userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.userProfile__name {
  display: flex;
  text-align: left;
  width: 170px;
}
