.homeBar {
  display: flex;
  height: 300px;
  width: 370px;
  background-color: white;
  align-items: center;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#dark .homeBar {
  background-color: #2d383c;
  border: none;
}
#dark .homeBarFull {
  background-color: #2d383c;
  border: none;
}
.homeBarFull {
  display: flex;
  height: 450px;
  width: 95%;
  background-color: white;
  align-items: center;
  justify-content: center;
  margin-left: 22px;
  margin-top: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}
